.banner{
         background: #1f2937;
}
/* .card {
    background: linear-gradient(241deg, #000000eb, transparent);
} */
.blog{
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}
/* .sub-form{
    background: linear-gradient(45deg, #0d060e, #1d1631fa);
} */
.sub-form-main{
     padding: 5%;
    /* background: linear-gradient(45deg, #3c5b95ed, #00ffdc61); */
    background: #1f2937;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}